* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

header {
  background-color: #0a2640;
  padding: 56px 70px 70px 70px;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  margin-top: 15px;
}
header nav ul li {
  margin-left: 40px;
}
header nav a {
  color: white;
  font-family: open sans;
  font-size: 16px;
  font-weight: 600;
}
header nav .nav-btn {
  color: black;
  background-color: #fff;
  padding: 8px 40px;
  border-radius: 24px;
}
header nav .nav-btn:hover {
  background-color: rgb(225, 225, 225);
  transition: all 0.188s ease-in;
  box-shadow: 0 0 15px rgb(196, 196, 196);
}
header nav .nav-btn:active {
  background-color: rgb(198, 197, 197);
  transition: all 0.188s ease-in;
}
header .header-box {
  display: flex;
}
header .header-box .sarlavha h1 {
  color: white;
  font-family: manrope;
  font-size: 48px;
  font-weight: 400;
  width: 555px;
  line-height: 70px;
  margin-top: 120px;
}
header .header-box .sarlavha p {
  color: #fff;
  font-family: open sans;
  font-weight: 400;
  width: 547px;
  line-height: 30px;
  font-size: 16px;
  margin-bottom: 56px;
}
header .header-box .sarlavha .buy {
  font-family: open sans;
  font-weight: 700;
  background-color: #69e6a6;
  padding: 16px 56px;
  border-radius: 56px;
}
header .header-box .sarlavha .buy:hover {
  background-color: #64c894;
  transition: all 0.2s ease;
  box-shadow: 0 0 15px rgb(196, 196, 196);
}
header .header-box .sarlavha .buy:active {
  background-color: #57a97e;
  transition: all 0.188s ease-in;
}
header .header-box .sarlavha .explore {
  color: white;
  font-family: open sans;
  font-weight: 700;
  background-color: transparent;
  border: 3px solid white;
  padding: 14px 40px;
  border-radius: 56px;
  margin-left: 20px;
}
header .header-box .sarlavha .explore:hover {
  background-color: #17324a;
  transition: all 0.2s ease-in;
  box-shadow: 0 0 15px rgb(196, 196, 196);
}
header .header-box .sarlavha .explore:active {
  background-color: #365571;
  transition: all 0.1s ease-in;
}
header .header-box .header-img {
  margin-top: 80px;
  margin-left: 170px;
}
header .header-box .header-img .header-img-1 {
  margin-bottom: 35px;
}
header .header-box .header-img .header-img-2 {
  margin-right: 35px;
}
header .logos .rasm {
  position: relative;
  top: 50px;
}

.intro .services h3 {
  color: gray;
  font-family: open sans;
  font-weight: 400;
  text-align: center;
  margin-top: 82px;
  margin-bottom: 12px;
}
.intro .services h2 {
  font-family: manrope;
  font-weight: 400;
  font-size: 48px;
  width: 842px;
  text-align: center;
  margin: 0 auto;
  line-height: 72px;
  margin-bottom: 100px;
}
.intro .cards {
  display: flex;
  justify-content: space-between;
}
.intro .cards .portion h4 {
  font-family: open sans;
  font-weight: 400;
  font-size: 23px;
  margin-top: 24px;
}
.intro .cards .portion p {
  font-family: open sans;
  font-weight: 400;
  font-size: 20px;
  color: gray;
  width: 293px;
  margin-top: 12px;
  margin-bottom: 28px;
}
.intro .cards .portion a {
  font-family: open sans;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 5px;
  padding-right: 10px;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.intro .cards .portion a img {
  transform: translateY(6px) translateX(10px);
}
.intro .cards .portion a:hover {
  opacity: 0.8;
  transition: all 0.17s ease-in;
}
.intro .cards .portion a:active {
  opacity: 0.6;
}
.intro .connect {
  display: flex;
  margin-top: 200px;
}
.intro .connect .portion {
  margin-right: 180px;
}
.intro .connect .portion [alt=statistika] {
  transform: translate(-340px, 180px);
  position: absolute;
}
.intro .connect .portion a {
  padding: 16px 56px;
  background-color: #0a2640;
  border-radius: 56px;
  color: white;
  font-family: open sans;
  font-weight: 700;
}
.intro .connect .portion a:hover {
  box-shadow: 0 0 10px #0a2640;
  transition: all 0.2s ease-in;
}
.intro .connect .portion a:active {
  opacity: 0.8;
}
.intro .connect .portion .for-b {
  margin-bottom: 70px;
}
.intro .connect .portion h2 {
  font-family: manrope;
  font-weight: 400;
  width: 493px;
  font-size: 36px;
}
.intro .connect .portion li {
  display: flex;
  line-height: 80px;
}
.intro .connect .portion li img {
  margin-top: 23px;
}
.intro .connect .portion p {
  font-family: open sans;
  font-weight: 400;
  font-size: 20px;
  margin-left: 30px;
}
.intro .connect .portion .for-btn {
  display: flex;
  flex-direction: column;
}
.intro .connect .portion .for-btn .star {
  padding: 16px 43px;
  background-color: #0a2640;
  border-radius: 4px;
  color: white;
  font-family: open sans;
  font-weight: 600;
}
.intro .connect .portion .for-btn [alt=pat] {
  transform: translate(-10px, 7px);
}
.intro .connect .portion .for-btn [alt=eye] {
  transform: translate(-19px, 7px);
}
.intro .connect .portion .for-btn [alt=sun] {
  transform: translate(-50px, 7px);
}
.intro .connect .portion .for-btn a {
  padding: 16px 53px;
  background-color: #ffffff;
  border-radius: 4px;
  color: white;
  font-family: open sans;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.08);
  margin-top: 34px;
}
.intro .connect .portion .for-btn .eye {
  color: black;
}
.intro .connect .portion .for-btn .sun {
  color: black;
}
.intro .connect .portion [alt=kenayi] {
  transform: translateY(-100px);
}
.intro .connect .portion [alt="222"] {
  transform: translate(-440px, 173px);
  position: absolute;
}

.template {
  padding: 100px;
  margin: 0 auto;
  background-color: #0a2640;
  margin-top: 200px;
}
.template .strelka {
  display: flex;
  gap: 28px;
  position: absolute;
  transform: translate(1030px, 70px);
}
.template .strelka [alt=left]:hover {
  opacity: 0.8;
}
.template .strelka [alt=left]:active {
  opacity: 0.6;
}
.template .strelka [alt=right]:hover {
  opacity: 0.8;
}
.template .strelka [alt=right]:active {
  opacity: 0.6;
}
.template h2 {
  width: 716px;
  color: white;
  font-family: manrope;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
}
.template .for-f {
  display: flex;
}
.template .for-f .card_1 {
  height: 315px;
}
.template .for-f .card_3 {
  height: 335px;
}
.template .for-f .portion {
  font-family: open sans;
  background-color: white;
  flex: 1;
  margin-left: 22px;
  border-radius: 12px;
  margin-top: 50px;
}
.template .for-f .portion p {
  color: black;
  font-size: 24px;
  font-weight: 400;
  padding: 40px 40px 0 40px;
}
.template .for-f .portion .curve {
  width: 340px;
}
.template .for-f .portion .ava {
  display: flex;
}
.template .for-f .portion .ava h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  transform: translateY(40px);
}
.template .for-f .portion .ava p {
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  transform: translateX(-40px);
}
.template .for-f .portion .ava [alt=avatar] {
  width: 58px;
  height: 58px;
  margin: 40px 16px 40px 40px;
}
.template .for-f .portion .ava [alt=sirius] {
  width: 58px;
  height: 58px;
  margin: 40px 16px 40px 40px;
}

.center {
  width: 1100px;
  margin: 0 auto;
  margin-top: 124px;
}
.center .main-portion {
  display: flex;
}
.center .main-portion .portion {
  margin-top: 56px;
  flex: 1;
}
.center .main-portion .portion h2 {
  width: 500px;
  font-family: manrope;
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
  margin-right: 79.5px;
}
.center .main-portion .portion a {
  font-family: open sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 16px;
  border-bottom: 1px solid #c4c4c4;
}
.center .main-portion .portion a [alt=pasga] {
  margin-left: 92px;
}
.center .main-portion .portion a [alt=pasga-2] {
  margin-left: 88px;
  padding-bottom: 32px;
  transform: translate(-10px, 35px);
}

.our-blog {
  width: 1000px;
  margin: 0 auto;
  margin-top: 156px;
}
.our-blog h3 {
  color: #777777;
  font-family: open sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}
.our-blog h2 {
  font-family: manrope;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
}
.our-blog .cards-3x {
  display: flex;
  margin-top: 80px;
  gap: 50px;
}
.our-blog .cards-3x .portion span {
  display: flex;
  margin-top: 24px;
}
.our-blog .cards-3x .portion span .category {
  font-family: open sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
}
.our-blog .cards-3x .portion span .nov {
  font-family: open sans;
  color: #777;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-left: 12px;
}
.our-blog .cards-3x .portion .pitch {
  font-family: open sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  width: 300px;
  margin-top: 12px;
}
.our-blog .cards-3x .portion .for-avatar {
  display: flex;
  margin-top: 60px;
}
.our-blog .cards-3x .portion .for-avatar p {
  font-family: open sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-left: 12px;
}
.our-blog .cards-3x .portion .for-avatar-2 {
  display: flex;
  margin-top: 60px;
  transform: translateY(-30px);
}
.our-blog .cards-3x .portion .for-avatar-2 p {
  font-family: open sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-left: 12px;
}
.our-blog .cards-3x .portion .for-avatar-3 {
  display: flex;
  margin-top: 60px;
  transform: translateY(-30px);
  margin-bottom: 40px;
}
.our-blog .cards-3x .portion .for-avatar-3 p {
  font-family: open sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-left: 12px;
}
.our-blog .load {
  font-family: open sans;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  border: 2px solid #0a2640;
  border-radius: 30px;
  padding: 11px 50px;
  margin-left: 400px;
}
.our-blog .load:hover {
  background-color: #7293b1;
  transition: all 0.2s ease-in;
  box-shadow: 0 0 10px #0a2640;
}
.our-blog .load:active {
  background-color: #0a2640;
  color: white;
}

.enterprise {
  width: 1250px;
  margin: 0 auto;
  background-color: #0a2640;
  margin-top: 125px;
  border-radius: 12px;
}
.enterprise h2 {
  color: white;
  font-family: Manrope;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  margin: 0 auto;
  text-align: center;
  padding-top: 72px;
  width: 716px;
}
.enterprise form {
  margin-left: 340px;
  margin-top: 50px;
  padding-bottom: 64px;
}
.enterprise form input {
  width: 370px;
  height: 56px;
  border-radius: 240px;
  font-family: open sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  padding-left: 32px;
  margin-right: 24px;
}
.enterprise form input::-moz-placeholder {
  font-family: open sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #000;
}
.enterprise form input:-ms-input-placeholder {
  font-family: open sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #000;
}
.enterprise form input::placeholder {
  font-family: open sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #000;
}
.enterprise form input:hover {
  box-shadow: 0 0 15px #fff;
  transition: all 0.2s ease-in;
}
.enterprise form input:active {
  opacity: 0.8;
}
.enterprise form button {
  all: unset;
  color: #0a2640;
  background-color: #65e4a3;
  padding: 12px 46px;
  border-radius: 56px;
  font-family: open sans;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}
.enterprise form button:hover {
  box-shadow: 0 0 10px #65e4a3;
  transition: all 0.2s ease-in;
}

footer {
  width: 1250px;
  margin: 0 auto;
  margin-top: 184px;
  display: flex;
  flex: 1;
}
footer .part-1 p {
  width: 300px;
  font-family: open sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #777;
  margin-top: 40px;
}
footer .part-1 .rights {
  width: 300px;
  font-family: open sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #777;
  margin-top: 40px;
  margin-bottom: 97px;
  margin-right: 180px;
}
footer .for-ul {
  display: flex;
}
footer .for-ul ul li {
  font-family: open sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 72px;
  color: #777;
  margin-left: 100px;
}
footer .for-ul ul .theme {
  color: #000;
  font-family: open sans;
  font-weight: 700;
  line-height: 32px;
}/*# sourceMappingURL=main.css.map */